.header{
    margin-bottom: 40px;
}

.nav {
    border-bottom: 1px solid #828282;

    &__list{
        margin-top: 35px;
        margin-bottom: 32px;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    
    &__link{
        text-decoration: none;
        color:#828282;
        font-weight: 700;
        
        &:hover, &:active {
            color: #070707;
        }
    }
} 
