.main{
    &__descrip{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 50px;
    }

    &__title{
        font-size: 47px;
        font-weight: 700;
        width: 123px;
        margin: 0;
    }

    &__text{
        margin: 0;
        width: 156px;
    }

    &__links{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    &__link{
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        color: #828282;
        &__active{
            color: black;
        }

    }

    &__link:first-child::after{
        content:'';
        display: inline-block;
        width: 15px;
        height: 3px;
        margin-top: 5px;
        background-color: black;
    }

    &__photo{
        margin-bottom: 103px;
    }

    &__image{
        width: 100%;
    }

}

.burger{
    display: none;
    position: relative;
    top:60px;
    left: 5px;
    &__line{
        width: 50px;
        height: 5px;
        background-color: gray;
        margin-bottom: 10px;
        border-radius: 10%;
    }
}

@media screen and (max-width:450px) {
    .header{
        display: none;
    
    }
    .burger{
        display: inline-block;
    }

    .main__links{
        display: none;
    }

    .main__descrip{
        display: flex;
        flex-direction: column;

    }

    .main__title{
        margin: 0 35px 15px;
    }

    .skills__cards{
        flex-direction: column;
        align-items: center;

    }

    .skills__card{
        padding-bottom: 100px;

    }

    // .burger:hover{
    //     .nav{
    //         display: flex;
    //         flex-direction: column;
    //     }

    //     .burger{
    //         display: none;
    //     }
    // }
    
}