*{
    box-sizing: border-box;
}

body, html{
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    color: #070707;
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.title{
    font-size: 34px;
    text-align: center;
    font-weight: 700;
}

.text{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
