@font-face {
  font-family: "Gilroy";
  src: local("./fonts/Gilroy Medium"), local("Gilroy-Medium"), url("./fonts/Gilroy-Medium.woff2") format("woff2"), url("./fonts/Gilroy-Medium.woff") format("woff"), url("./fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("./fonts/Gilroy Bold"), local("Gilroy-Bold"), url("./fonts/Gilroy-Bold.woff2") format("woff2"), url("./fonts/Gilroy-Bold.woff") format("woff"), url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body, html {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  color: #070707;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.title {
  font-size: 34px;
  text-align: center;
  font-weight: 700;
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.header {
  margin-bottom: 40px;
}

.nav {
  border-bottom: 1px solid #828282;
}
.nav__list {
  margin-top: 35px;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav__link {
  text-decoration: none;
  color: #828282;
  font-weight: 700;
}
.nav__link:hover, .nav__link:active {
  color: #070707;
}

.main__descrip {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}
.main__title {
  font-size: 47px;
  font-weight: 700;
  width: 123px;
  margin: 0;
}
.main__text {
  margin: 0;
  width: 156px;
}
.main__links {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.main__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #828282;
}
.main__link__active {
  color: black;
}
.main__link:first-child::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 3px;
  margin-top: 5px;
  background-color: black;
}
.main__photo {
  margin-bottom: 104px;
}
.main__image {
  width: 100%;
}

.burger {
  display: none;
  position: relative;
  top: 60px;
  left: 5px;
}
.burger__line {
  width: 50px;
  height: 5px;
  background-color: gray;
  margin-bottom: 10px;
  border-radius: 10%;
}

@media screen and (max-width: 450px) {
  .header {
    display: none;
  }
  .burger {
    display: inline-block;
  }
  .main__links {
    display: none;
  }
  .main__descrip {
    display: flex;
    flex-direction: column;
  }
  .main__title {
    margin: 0 35px 15px;
  }
  .skills__cards {
    flex-direction: column;
    align-items: center;
    flex: 1 1 70%;
  }
  .skills__card {
    padding-bottom: 100px;
  }
}
.about {
  background-color: #F6F6F6;
  padding-bottom: 97px;
}
.about__title {
  padding-top: 120px;
  margin-bottom: 18px;
}
.about__subtitle {
  text-align: center;
}

.skills {
  padding-bottom: 127px;
}
.skills__title {
  padding-top: 92px;
  margin: 0;
  margin-bottom: 69px;
}
.skills__subtitle {
  margin: 0;
  text-align: center;
  margin-bottom: 83px;
}
.skills__cards {
  display: flex;
  justify-content: space-between;
}

.portfolio {
  background-color: #F6F6F6;
  padding-bottom: 96px;
}
.portfolio__title {
  margin: 0;
  padding-top: 112px;
  margin-bottom: 47px;
}
.portfolio__photo {
  width: 100%;
  margin-bottom: 44px;
}
.portfolio__link {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #070707;
  margin-bottom: 96px;
}

.footer {
  padding-bottom: 123px;
}
.footer__title {
  margin: 0;
  padding-top: 114px;
  margin-bottom: 20px;
}
.footer__subtitle {
  text-align: center;
  margin-bottom: 30px;
}
.footer__btn {
  display: block;
  margin: 0 auto;
  width: 180.5px;
  height: 42px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: black;
  border: 0;
  border-radius: 30px;
  margin-bottom: 79px;
  transition: all 0.45s linear;
}
.footer__btn:hover {
  color: black;
  background-color: #FFFFFF;
  border: 1px solid black;
}
.footer__social {
  margin: 0 auto;
  max-width: 342px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.footer__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}/*# sourceMappingURL=style.css.map */